@import "bulma/bulma";

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  max-width: 800px;
  margin: auto;
}

.box {
  margin: 2rem 0;
}

.has-rounded-border {
  border-radius: var(--bulma-radius-large);
  border-width: 0.25rem;
  border-color: var(--bulma-light);
  border-style: solid;
}